.*.swn
.*.swo
.*.swp
/target
/lib
/classes
/checkouts
/hlwork
pom.xml
*.jar
*.class
.lein-classpath
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-cljsbuild-repl/
src/cljs/____*
/resources/public/main.js
/resources/public/out/
